#containerTableau {
  margin-top: 130px;
}

.search.form-control {
  width: 50%;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

b, strong {
  display: inline-block;
}

#iconUser {
  border: double;
  border-radius: 30px;
  padding: 3px;
  color: rgb(102,153,255);
  position: relative;
  margin: 0% 0% 0% 4%;
  float: left;
  position: relative;
}

#modal p {
  font-family: 'Roboto';
  font-weight: 300;
  color: #545454;
}

@media (max-width:767px) {
  #modal p {
    font-size: 20px;
    font-weight: 100;
    /*margin: 0;*/
    z-index: 1;
    text-align: left;
    position: relative;
  }
}

.modal-header {
  background-color: #3EC9E5;
  height: 124px;
}

#img {
  position: relative;
  width: 25px;
  min-width: 23%;
  display: block;
  margin: 0px 40% 1% 40%;
  z-index: 5;
  background-color: white;
  /*clip-path: circle();*/
  border-radius: 48px;
  border: 1px solid rgb(0,255,224);
  box-shadow: 1px 4px 28px blue;
}

.modal-title {
  text-align: center;
  width: 98%;
  max-height: 20%;
  margin-top: 11%;
  z-index: 5;
}

#usernameEn {
  word-wrap: break-word;
  display: block;
  margin: 10% 2% 5% 2%;
  text-align: center;
}

#modalEn span {
  word-wrap: break-word;
  text-align: center;
  margin-left: 13px;
  min-width: 106px;
  max-width: 106px;
}

.modal-header.box {
  box-shadow: 0px 7px 17px #B3B5B7;
}

#logoFac {
  width: 32px;
  height: 32px;
  float: left;
  clip-path: circle();
}

#titreFac {
  margin: -2px 1px 1px 1px;
  color: #CED0D0;
  font-family: initial;
}

.modal-footer {
  background-color: #27284f;
  height: 50px;
}

#modal p {
  text-align: center;
}

#modalEt {
  margin: auto;
  z-index: 27832372;
}

#modal p {
  text-align: center;
}

#searchEn {
  float: right;
  margin-right: 9px;
  box-shadow: 3px 3px 3px #5B6165;
}

#tableStandard {
  height: 500px;
  max-height: 500px;
}

#matricule {
  max-width: 100px;
}

.bill-header {
  font-size: 12px;
  text-align: center;
}

.form-control:focus {
  border-color: #25476a;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#trs-hd {
  text-align: center;
}

.bill-header.cs {
  background-color: rgba(37,71,106,0.56);
  color: #fff;
}

.counter {
  padding: 8px;
  color: #ccc;
}

.results tr[visible='false'], .no-result {
  display: none;
}

.results tr[visible='false'], .no-result {
  display: none;
}

.counter {
  padding: 8px;
  color: #ccc;
}

.fa.fa-warning {
  font-size: 18px;
  color: #ff0000;
}

.warning.no-result {
  text-align: center;
}

.search.form-control {
  border-radius: 0px !important;
}

.search-table-col {
  margin-top: 100px;
}

.bill-header {
  font-size: 12px;
  text-align: center;
}

.form-control:focus {
  border-color: #25476a;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#trs-hd {
  text-align: center;
}

.bill-header.cs {
  background-color: rgba(37,71,106,0.56);
  color: #fff;
}

.counter {
  padding: 8px;
  color: #ccc;
}

.results tr[visible='false'], .no-result {
  display: none;
}

.results tr[visible='false'], .no-result {
  display: none;
}

.counter {
  padding: 8px;
  color: #ccc;
}

.fa.fa-warning {
  font-size: 18px;
  color: #ff0000;
}

.warning.no-result {
  text-align: center;
}

.search.form-control {
  border-radius: 0px !important;
  position: relative;
  width: 70%;
  float: right;
}

.search-table-col {
  margin-top: 100px;
}

.input {
  position: relative;
  display: inline-block;
  margin-left: 3%;
  width: 60%;
}

#modalEn #div {
  margin: 0% 0% 4% 0%;
}

#modifierEn {
  float: right;
}

