<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Acceuil</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="assets/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar" style="color: rgb(0,0,0);background: linear-gradient(120deg,#000000,#0ea0ff);">
        <div class="container"><img src="assets/img/TV.jpg" style="width: 4%;margin-left: -2%;"><a class="navbar-brand logo" href="#">&nbsp; &nbsp;TEAJ Corporation</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index" style="padding: 11px;margin-left: 29px;">Acceuil</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#arrivage" style="padding: 11px;margin-left: 29px;">Arrivage</a></li>
                    <li class="nav-item" role="presentation" id="log" style="float: right;border: 2px solid rgb(215,212,212);"><a class="nav-link" href="login" style="padding: 11px;margin-left: 29px;">Login</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro" style="background-image:url(&quot;assets/img/sans-titre.png&quot;);background-repeat: no-repeat;background-size: cover;background-clip: border-box;backface-visibility: inherit;margin-top: -1%;">
            <h1 style="margin: 154px;font-weight: 800;font-family: initial;font-size: 5.1vw;color: #c4d8e2;opacity: 0.9;">Vente de matériel informatique</h1>
        </section>
        <div class="container"><br/><br/><br/>
            <div id="arrivage" class="about-me">
                <h1 style="text-align: center;">Liste des nouveaux arrivages de materiels</h1>
            </div><br/><br/><br/>
            <section class="portfolio-block photography">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/ordi1.png"></a></div>
                        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/ventilo.jpg"></a></div>
                        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/ordi2.jpg"></a></div>
                    </div>
                </div>
            </section>
        </div>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Voulez-vous achecter un?</h3><a href="login"><button class="btn btn-outline-primary btn-lg" type="button" >Cliquer ici</button></a></div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Nos Materiels sont</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">qualités supérieurs</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-checkmark-round"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">sur et avec garantie</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">avec maintenance</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">Apropos de nous</a><a href="#">Contacter</a><a href="#">Lieu</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/css/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>